In [ ]:
import pandas as pd

# Load the major crime CSV file
df = pd.read_csv('../major_crime_data.csv')

# Display the first few rows
df.head()

,OBJECTID,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,x,y
0,1,GO-20141637937,1/1/2014 5:00:00 AM,3/1/2012 5:00:00 AM,2014,January,1,1,Wednesday,16,...,Assault Bodily Harm,Assault,120,Clairlea-Birchmount (120),120,Clairlea-Birchmount (120),-79.286725,43.700100,-8.826158e+06,5.419149e+06
1,2,GO-20141260793,1/1/2014 5:00:00 AM,1/1/2014 5:00:00 AM,2014,January,1,1,Wednesday,3,...,Aggravated Assault,Assault,081,Trinity-Bellwoods (81),081,Trinity-Bellwoods (81),-79.410994,43.649686,-8.839991e+06,5.411389e+06
2,3,GO-20141259834,1/1/2014 5:00:00 AM,1/1/2014 5:00:00 AM,2014,January,1,1,Wednesday,0,...,Assault With Weapon,Assault,055,Thorncliffe Park (55),055,Thorncliffe Park (55),-79.346615,43.703234,-8.832825e+06,5.419631e+06
3,4,GO-20141260264,1/1/2014 5:00:00 AM,1/1/2014 5:00:00 AM,2014,January,1,1,Wednesday,1,...,Assault,Assault,143,West Rouge (143),131,Rouge (131),-79.132915,43.780413,-8.809036e+06,5.431523e+06
4,5,GO-20141260264,1/1/2014 5:00:00 AM,1/1/2014 5:00:00 AM,2014,January,1,1,Wednesday,1,...,Assault,Assault,143,West Rouge (143),131,Rouge (131),-79.132915,43.780413,-8.809036e+06,5.431523e+06

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430614 entries, 0 to 430613
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           430614 non-null  int64
 1   EVENT_UNIQUE_ID    430614 non-null  object
 2   REPORT_DATE        430614 non-null  object
 3   OCC_DATE           430614 non-null  object
 4   REPORT_YEAR        430614 non-null  int64
 5   REPORT_MONTH       430614 non-null  object
 6   REPORT_DAY         430614 non-null  int64
 7   REPORT_DOY         430614 non-null  int64
 8   REPORT_DOW         430614 non-null  object
 9   REPORT_HOUR        430614 non-null  int64
 10  OCC_YEAR           430469 non-null  float64
 11  OCC_MONTH          430469 non-null  object
 12  OCC_DAY            430469 non-null  float64
 13  OCC_DOY            430469 non-null  float64
 14  OCC_DOW            430469 non-null  object
 15  OCC_HOUR           430614 non-null  int64
 16  DIVISION           430614 non-null  object
 17  LOCATION_TYPE      430614 non-null  object
 18  PREMISES_TYPE      430614 non-null  object
 19  UCR_CODE           430614 non-null  int64
 20  UCR_EXT            430614 non-null  int64
 21  OFFENCE            430614 non-null  object
 22  MCI_CATEGORY       430614 non-null  object
 23  HOOD_158           430614 non-null  object
 24  NEIGHBOURHOOD_158  430614 non-null  object
 25  HOOD_140           430614 non-null  object
 26  NEIGHBOURHOOD_140  430614 non-null  object
 27  LONG_WGS84         430614 non-null  float64
 28  LAT_WGS84          430614 non-null  float64
 29  x                  430614 non-null  float64
 30  y                  430614 non-null  float64
dtypes: float64(7), int64(8), object(16)
memory usage: 101.8+ MB